<table>
  <tr class="postal_content">
    <th>郵便番号:</th>
    <td><%= @zipcode %></td>
  </tr>
  <tr class="postal_content">
    <th>都道府県:</th>
    <td><%= @address1 %></td>
  </tr>
  <tr class="postal_content">
    <th>市区町村:</th>
    <td><%= @address2 %></td>
  </tr>
  <tr class="postal_content">
    <th>町域:</th>
    <td><%= @address3 %></td>
  </tr>
</table>
